<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>hibernate4-3</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateMain</servlet-name>
    <servlet-class>controller.CreateMain</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateSub</servlet-name>
    <servlet-class>controller.CreateSub</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteSub</servlet-name>
    <servlet-class>controller.DeleteSub</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Delete_Main</servlet-name>
    <servlet-class>controller.Delete_Main</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>CreateMain</servlet-name>
    <url-pattern>/CreateMain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateSub</servlet-name>
    <url-pattern>/CreateSub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSub</servlet-name>
    <url-pattern>/DeleteSub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete_Main</servlet-name>
    <url-pattern>/Delete_Main</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>